.main-content {
  width: 1170px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .hero-content {
    text-align: center;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  --color: #1ebfc1;
}

.btn {
  color: var(--color);
  padding: 12px 24px;
  text-decoration: none;
  border: 1px solid var(--color);
  border-radius: 5px;
}
h1 {
  font-size: 58px;
  line-height: 72px;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 50px;
}
.header .logo {
  margin-right: 200px;
}

.header .thanh-cong-cu {
  display: flex;
  width: 446px;
  justify-content: space-between;
}

.header .icon:hover {
  color: #1ebfc1;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.header .icon {
  text-decoration: none;
  color: black;
}
.header .sign-in {
  color: black;
  text-decoration: none;

  margin-right: 15px;
}
.btn.sign-up {
  padding: 10px 15px; /* Giảm padding để phù hợp với độ dài chữ mới */
}
/*  hero            ======================================================================== */

.hero {
  display: flex;
}

.hero .content {
  margin-top: 93px;
  margin-right: 71px;
}

.hero .content p:first-child {
  margin-bottom: 18px;
}

.hero .content h1 {
  width: 458px;
  margin-bottom: 20px;
}

.hero .content p:nth-child(3) {
  width: 390px;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
  text-align: justify;
}

.hero .content .get-started {
  display: flex;
  align-items: center;
}

.hero .content .btn-get-started {
  background: var(--color);
  color: white;
  padding: 20px 40px;
  border-radius: 14px;
  margin-left: 10px;
}

.hero .content .tam-giac {
  padding: 22px 24px;
  border-radius: 50%;
  margin-left: 50px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
}

.hero .image {
  position: relative;
}
.hero .image .img {
  border-radius: 5%;
  width: 576px;
  height: 632px;
}

.hero .image .item {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 17px 25px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
}
.hero .image .item1 {
  position: absolute;
  top: 200px;
  left: -70px;
}

.hero .image .item1 img {
  margin-right: 10px;
  border-radius: 5px;
  width: 36px;
  height: 40px;
}

.hero .image .item2 {
  position: absolute;
  display: inline-block;
  padding: 16px 25px 23px;
  /* background-color: #1ebfc1; */
  top: 420px;
  left: -50px;
}

.hero .image .item2 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}

.hero .image .item3 {
  position: absolute;
  display: inline-block;
  padding: 17px 35px;
  width: 155px;
  right: 20px;
  bottom: 20px;
  border-radius: 20px;
}

.hero .image .item3 p {
  margin-bottom: 8px;
}
.hero .image .avatar {
  position: relative;
}

.hero .image .ava {
  margin-left: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.hero .image .ava2 {
  position: absolute;
  margin-left: -15px;
}
.hero .image .ava3 {
  position: absolute;
  margin-left: 20px;
}
.hero .image .ava4 {
  position: absolute;
  margin-left: 55px;
}

.hero .image .ava5 {
  position: absolute;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  z-index: 5;
  left: 135px;
  top: 0;
}

.features {
  margin-top: 121px;
}

.features .content {
  width: 591px;
  margin-bottom: 80px;
}

.features .content1 {
  letter-spacing: 8px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #767e7e;
}

.features .content2 {
  color: #0d1111;
  font-size: 50px;
}

.features .content3 {
  margin-top: 18px;
  font-size: 18px;
  text-align: justify;
  line-height: 24px;
  color: #767e7e;
}

.features .items {
  display: flex;
  justify-content: space-between;
}

.features .item {
  padding: 2rem;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.features .item:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.features .item img {
  width: 100px;
  height: 100px;
}

.features img + p {
  color: #0d1111;
  margin-top: 26px;
  margin-bottom: 16px;
  font-weight: 600;
}

.features p + p {
  width: 224px;
  text-align: justify;
  line-height: 27px;
  color: #9da6a5;
}

/*     courses =================== */
.courses {
  margin-top: 100px;
}

.courses .content {
  margin-bottom: 50px;
}

.courses .content p:first-child {
  color: #767e7e;
  font-size: 12px;
  margin-bottom: 18px;
}

.courses .content-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .content-con p:first-child {
  color: #767e7e;
  width: 675px;
  font-size: 18px;
  margin-top: 18px;
  line-height: 28px;
}

.courses .content-con a {
  text-decoration: none;
  color: var(--color);
  font-weight: 500;
  line-height: px;
}

.courses .content-con a:hover {
  font-weight: 700;
}

.courses .image {
  display: flex;
  gap: 47px;
}
.courses .image,
.image2,
.image3 {
  position: relative;
}

.courses .image img {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  object-fit: cover;
}

.courses .content-img {
  position: absolute;
  width: 325px;
  height: 195px;
  background: white;
  border-radius: 10px;
  top: 322px;
  left: 18px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.courses .content-img h2 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 18px;
  margin-left: 25px;
}
.courses .content-img p,
li {
  color: #767e7e;
  margin-top: 18px;
  margin-left: 25px;
  line-height: 20px;
  width: 200px;
}

.courses .content-img ol {
  display: flex;
  list-style: none;
  padding: 0;
}

.courses .content-img li::before {
  content: "•";
  color: var(--color);
  font-size: 22px;
  margin-right: 8px;
}

.countdown {
  display: flex;
  margin-top: 300px;
  gap: 200px;
  justify-content: center;
}

.countdown h2 {
  font-size: 62px;
  font-weight: 600;
  margin-bottom: 11px;
}

.countdown p {
  color: #767e7e;
  text-align: center;
}
